<h2><%= @post.title %></h2>
<div class="post_meta">
  <span class="post_author">
    written by <%= @post.author.name%>
  </span>
  <span class="post_date">
    on <%= @post.published_on.strftime("%b %d, %Y") %>
  </span>
</div>


<div class="post_body">
  <%= @post.body %>
</div>